//Navbar
$navbar-color: #0097e6;
$navbar-text-color: #fff;

//Home
//Feature Cards
$feature-card-bg: #fff;
$feature-card-text: rgba(0, 0, 0, 0.6);
$feature-card-title: #000;
$feature-card-icon: rgba(0, 0, 0, 0.54);
